<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" >
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Profil</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	
	<style>
		li a, .dropbtn{
	display: inline-block;
	color: white;
	padding: 14px 16px;
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	transition: 0.2s;
}
li a:hover, .dropdown:hover .dropbtn{
	text-decoration: none;
	opacity: 0.7;
	color: white;

}
		li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color:black;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
border:1px ;

}

.dropdown-content a:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {
	display: block;
}
	</style>
	
	
</head>
<body style="font-family: 'Open Sans', sans-serif;">
	<nav class="navbar navbar-expand-md navbar-dark">
			<a class="navbar-brand" href="#" style="font-size: 30px; font-weight: 700;">Aziz Jabbar Shiddiq</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto" ">
				<li><a href="/" style="font-size:25px;"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="/write" style="font-size:25px;"><i class="fa fa-edit"></i>Write</a></li>
				<li><a href="/about" style="font-size:25px;"><i class="fa fa-info-circle"></i>About</a></li>
				
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropbtn" style="font-size:25px;"><i class="fa fa-calendar-alt"></i>Matkul</a>
					<div class="dropdown-content">
						<a href="/matkul" style="font-size:25px;"><i class="fa fa-calendar"></i>Tabel</a>
						<a href="/edit" style="font-size:25px;"><i class="fa fa-calendar-plus"></i>Tambah</a>
					  
						<a href="/delete" style="font-size:25px;"><i class="fa fa-calendar-times"></i>Hapus</a>
					</div>
				  </li>
				  <li><a href="/story1" style="font-size:25px;"><i class="fa fa-history"></i>Story 1</a></li>
				
				
				
			</ul>
		</div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>