<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" >
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Profil</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	
	
	<style>
        td, th {
	        border:0px none;
	        padding:12px;
	
        }
    </style>
	
</head>
<body style="font-family: 'Open Sans', sans-serif;">

    {% include "navbar.html" %}
    <div class="container" style="margin-top: 50px;">
    <table align="center" >
        <tr align="center">
            <th>No.</th>
            <th>Matkul</th>
            <th>Dosen</th>
            <th>SKS</th>
            
            <th>Tahun</th>
            <th>Ruangan</th>
            <th>Deskripsi</th>
            
        </tr>
        
        {% for data in matkullist %}
        <tr align="center">
            <td>{{forloop.counter}}</td>
           <td>{{data.matkul_name}}</td>
           <td>{{data.lecturer_name}}</td>
           <td>{{data.sks}}</td>
           <!-- <td>{{data.matkul_desc}}</td> -->
           
           <td>{{data.acad_year}}</td>
           <td>{{data.room}}</td>
           <td><a class="btn-link" href="/detail/?id={{data.id}}" >Detail</a></td>
           

        </tr>
        {% endfor %}
    
        
    </table>
    </div>

    

    {% include "footer.html" %}
		
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>