<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/story1css.css' %}">
    <title>Profil</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" >
	
	
</head>
<body>
	<header><h1><b>Aziz Jabbar Shiddiq - 1906353611</b></h1>
		
	</header>
	<div class="foto">
	<img src="/static/AU09.jpg" width="400px"  >
	</div>
	<div class="mainbody">
	<h2>Biodata</h2>
	
	<table >
		<tr>
			<td>Nama:</td>
			<td>Aziz Jabbar Shiddiq</td>
		</tr>
		<tr>
			<td>NPM:</td>
			<td>1906353611</td>
		<tr/>
		<tr>
			<td>Angkatan:</td>
			<td>2019</td>
		<tr/>
		<tr>
			<td>Hobi:</td>
			<td>Game, Musik, Buku, Film</td>
		</tr>
		
		<tr>
			<td>Tempat Kuliah:</td>
			<td>Fasilkom Universitas Indonesia</td>
		<tr/>
		<tr>
			<td>Riwayat Pendidikan:<br><br><br><br></td>
			<td>Universitas Indonesia (2019-Sekarang)<br>SMAN 2 Tangerang Selatan (2016-2019)
			<br>SMPN 4 Tangerang Selatan (2014-2016)<br>SDIT Darul Quran (2008-2014)
			</td>
		<tr/>
		</table>
		</div>
		<div class ="desc">
		<h2>Deskripsi Diri</h2>
			<p>Saya adalah anak pertama dari 3 bersaudara, saya lahir
			di Jakarta, 13 Juli 2003. </p>
		</div>
		<footer>
		<ul>
	<li><a href="https://www.instagram.com/aziz_js/"><i class="fab fa-instagram"></i></a></li>
	<li><a href="https://twitter.com/azizjabbar_s"><i class="fab fa-twitter"></i></a></li>
	<li><a href="https://web.facebook.com/aziz.jabbarshiddiq"><i class="fab fa-facebook"></i></a></li>
	<li><a href="https://www.linkedin.com/in/aziz-jabbar-178360194/"><i class="fab fa-linkedin"></i></a></li>
	<li><a  href="/" style="font-size:25px;">Back to Story 4</a></li>
	</ul>
		</footer>
		
		
		
</body>
</html>
