h1 {
    padding-left:10px;
    font-size: 30;
    font-weight: 500;
    /* color: white; */
    font-family: 'Open Sans', sans-serif;
}
body{
	background-color:#e5e5e5;
	height:100%;
}

h2{
	font-family: 'Open Sans', sans-serif;
}
p{
	font-family: 'Open Sans', sans-serif;
}
nav{
	background-color:black;
}
img{
	max-width: 100%;
}

footer{
	background-color:black;
	overflow: hidden;
	width: 100%;
	position: absolute;
	
	
}
li{
	float: left;
}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	position:relative;
}
li a, .dropbtn{
	display: inline-block;
	color: white;
	padding: 14px 16px;
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	transition: 0.2s;
}
li a:hover, .dropdown:hover .dropbtn{
	text-decoration: none;
	opacity: 0.7;
	color: white;

}
i {
padding-right:5px;
}
.container{
	position: relative;
	min-height: 70vh;
}
input[type=button], input[type=submit]{
	background-color: black;
	border : 1px solid white;
 color:white;
 cursor:pointer;
 padding: 8px 12px;
 border-radius:10px;
 outline:none;
 transition:0.3s;
 }


